{% for recipe in all_recipes %}
                    {% if recipe.posted_by.id == logged_user.id %}
                        {% if recipe.granted == False %}
                            <tr>
                                <td>{{recipe.title}}</td>
                                <td>{{recipe.created_at}}</td>
                                <td><a href="/granted/{{recipe.id}}">Granted</a>
                                    
                                    <form action="{{recipe.id}}/cancel" method="POST" id="remove">
                                        {%csrf_token%}
                                        <input type="submit" value="remove">      
                                    </form>
                                    <!-- KEEP -->
                                    <a href="/edit/{{recipe.id}}">edit</a> 
                                    
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            <tbody>